<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yaoxiaowen.weather" >

    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme" >-->
        <!--&lt;!&ndash;<activity android:name=".MainActivity" >&ndash;&gt;-->
            <!--&lt;!&ndash;<intent-filter>&ndash;&gt;-->
                <!--&lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

                <!--&lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
            <!--&lt;!&ndash;</intent-filter>&ndash;&gt;-->
        <!--&lt;!&ndash;</activity>&ndash;&gt;-->
    <!--</application>-->



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.yaoxiaowen.weather.tool.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yaoxiaowen.weather.SettingsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <!--     <action android:name="android.intent.action.MAIN" />    -->

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.yaoxiaowen.weather.MainWidgetProvider"
            >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_widget"
                />

        </receiver>

        <service
            android:name=".MainWidgetService"
            >
            <intent-filter >
                <action android:name="com.yaoxiaowen.weather.action.MainWidgetService"/>
                <category android:name="com.yaoxiaowen.weather.category.MainWidgetService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            >
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MyAlarm"
            >
            <intent-filter >
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".MainReceiver">
            <intent-filter >
                <action android:name="com.yaoxiaowen.weather.bc.start_update_db"/>
                <action android:name="com.yaoxiaowen.weather.bc.db_updated_complete"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>